.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Inria Sans";
}

.container .tabContact {
  opacity: 100%;
}

.container .tabContact::after {
  width: 100%;
  left: 0;
}

.mainBox {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
  margin: 0;
}

.paragraph {
  width: 510px;
  text-align: center;
  margin-top: 0;
  font-weight: 300;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 350px;
  margin-bottom: 100px;
}

.form .input {
  width: 100%;
}

.form .input:focus {
  outline: none;
}

.nameInputs {
  display: flex;
  gap: 5px;
  width: 100%;
}

.form .nameInputs .input {
  width: 50%;
}

.messageBox {
  width: 100%;
  height: 125px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #4B544B;
  background-color: rgba(233, 233, 233, .75);
  font-size: 15px;
  font-family: "Inria Sans";
  padding: 10px;
  resize: none;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.messageBox::-webkit-scrollbar {
  display: none;
}

.messageBox:focus {
  outline: none;
}

.buttonBase {
  width: 100%;
}

.childrenStyle {
  font-weight: 700;
}

@media (max-width: 480px) {}

@media (max-width: 768px) {}

@media (max-width: 1024px) {}

@media (max-width: 1440px) {
  .title {
    font-size: 40px;
  }

  .paragraph {
    font-size: 17px;
    width: 450px;
  }

  .form {
    margin-bottom: 0;
    width: 325px;
  }

  .childrenStyle {
    font-size: 15px;
  }
}
