.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Inria Sans";
}

.embeddedVideo {
  height: 50vh;
  width: 50vw;
}

.pageNotFound {
  font-family: "Inria Sans";
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error {
  margin: 0;
  font-size: 5rem;
}

.errorMessage {
  opacity: .6;
  width: 400px;
  text-align: center;
}

@media (max-width: 480px) {}

@media (max-width: 768px) {}

@media (max-width: 1024px) {}

@media (max-width: 1440px) {
  .title {
    font-size: 25px;
  }

  .message {
    font-size: 17px;
    width: 800px;
    text-align: justify;
  }
}
