.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inria Sans";
}

.logo {
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-weight: 700;
}

.message {
  margin-top: 0;
  opacity: 50%;
  margin-bottom: 20px;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  row-gap: 5px;
  align-items: center;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  margin-left: 12px;
  stroke: black;
  stroke-width: .5px;
  height: 25px;
}

.input {
  width: 100%;
  padding-left: 35px;
  display: flex;
  align-items: center;
}

.input:focus {
  outline: none;
}

.hidePassword {
  letter-spacing: 2px;
  padding-right: 35px;
}

.hidePassword::placeholder {
  letter-spacing: 0px;
}

.showPassword {
  padding-right: 35px;
}

.showIcon {
  position: absolute;
  background-color: transparent;
  border: 0;
  right: 12px;
  padding: 0;
  display: flex;
  cursor: pointer;
  width: 16px;
  height: 14px;
}

.loginMessage {
  margin-top: 20px;
}

.link {
  color: #CEA07C;
  text-decoration: underline;
}

.link:hover {
  color: #aa8466;
}

.oauth {
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.separator {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftLine {
  width: 45%;
  height: 1px;
  background-color: black;
  opacity: 50%;
}

.rightLine {
  width: 45%;
  height: 1px;
  background-color: black;
  opacity: 50%;
}

.orText {
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.oauthButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons .buttonTransparent {
  background-color: transparent;
  border: 1px solid #4B544B;
  border-radius: 1px;
  color: black;
  cursor: pointer;
  flex-direction: row;
}

.buttons .buttonTransparent:hover {
  background-color: #eae8e8;
  border-color: #404740;
  color: #404740;
}

.oauthLogo {
  height: 22px;
  width: 22px;
}

.oauthText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 400;
}
