.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inria Sans";
}

.logo {
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-weight: 700;
}

.evergreen {
  font-weight: 700;
}

.message {
  margin-top: 0;
  opacity: 50%;
  margin-bottom: 20px;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  row-gap: 5px;
  align-items: center;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  margin-left: 12px;
  stroke: black;
  stroke-width: .5px;
  height: 25px;
}

.input {
  width: 100%;
  padding-left: 35px;
}

.input:focus {
  outline: none;
}

.showIcon {
  position: absolute;
  background-color: transparent;
  border: 0;
  right: 12px;
  padding: 0;
  display: flex;
  cursor: pointer;
}

.loginMessage {
  margin-top: 10px;
}

.link {
  color: #CEA07C;
  text-decoration: underline;
}

.link:hover {
  color: #aa8466;
}
