.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container .tabExplore { /* .container used to increase specificity for overriding the header element */
  opacity: 100%;
}

.container .tabExplore::after {
  width: 100%;
  left: 0;
}
