.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Inria Sans";
}

.videoSection {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.thumbnail {
  width: 36vw;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
}

.videoTitle {
  margin-top: 10px;
  margin-bottom: 5px;
}

.channelName {
  margin: 0;
}

@media (max-width: 1600px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}
