.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Inria Sans";
}

.container .tabExplore {
  /* .container used to increase specificity for overriding the header element */
  opacity: 100%;
}

.container .tabExplore::after {
  width: 100%;
  left: 0;
}

.hero {
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.heroText {
  font-weight: 400;
}

.interactiveHero {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.hero .submitButton {
  width: 150px;
  height: 55px;
  background-color: #0F2A2B;
  border: 1px solid #0F2A2B;
}

.hero .submitButton:hover {
  background-color: #071616;
  border: #071616;
}

.hero .submitChildren {
  font-size: 18px;
  font-weight: 400;
  user-select: none;
}

.hero .searchBox {
  width: 325px;
  height: 55px;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 40px;
}

.hero .searchBox:focus {
  outline: none;
}

.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 35vw;
  height: 42vh;
}

.submission {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.title {
  font-family: "Poppins";
  font-size: 50px;
  color: #0F2A2B;
  margin-bottom: 20px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.submission .importInput {
  height: 60px;
  width: 450px;
  font-size: 21px;
  padding: 0px 15px;
  border-radius: 7px;
}

.submission .importInput:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  opacity: 60%;
  padding-right: 15px;
  cursor: pointer;
}

.submission .importButton {
  height: 60px;
  background-color: #0F2A2B;
  border: 1px solid #0F2A2B;
  width: 125px;
}

.submission .importButton:hover {
  background-color: #071616;
  border: 1px solid #071616
}

.submission .importChildren {
  font-weight: 400;
  font-size: 21px;
  user-select: none;
}

.videoSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 95%;
  height: fit-content;
  margin: auto;
}

.video {
  height: 74%;
  overflow: hidden;
  border-radius: 8px;
}

.thumbnail {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1600px) {
  .hero {
    margin-top: 40px;
  }

  .heroText {
    font-size: 22px;
  }


  .hero .submitButton {
    height: 50px;
    width: 125px;
  }

  .hero .submitChildren {
    font-size: 16px;
  }

  .hero .searchBox {
    width: 300px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}
