.header {
  font-family: "Inria Sans";
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: 100vw;
  height: 7vh;
  position: absolute;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  display: flex;
  justify-content: left;
  margin-left: 25px;
  font-weight: 600;
  color: #4B544B;
  font-size: 30px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  font-size: 18px;
}

.tabName {
  font-weight: 400;
  cursor: pointer;
  position: relative;
  margin: 0;
}

.tabName::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  bottom: -3px;
  left: 50%;
}

.tabName:hover::after {
  width: 100%;
  left: 0;
}

.tabExplore {
  opacity: 50%;
}

.tabExplore:hover {
  opacity: 100%;
  transition: opacity .3s;
}

.tabEC {
  opacity: 50%;
}

.tabEC:hover {
  opacity: 100%;
  transition: opacity .3s
}

.tabAbout {
  opacity: 50%;
}

.tabAbout:hover {
  opacity: 100%;
  transition: opacity .3s;
}

.tabContact {
  opacity: 50%;
}

.tabContact:hover {
  opacity: 100%;
  transition: opacity .3s
}

.tabSupport {
  opacity: 50%;
}

.tabSupport:hover {
  opacity: 100%;
  transition: opacity .3s
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-right: 25px;
  font-size: 20px;
  gap: 10px;
}

.buttonTransparent {
  background-color: transparent;
  border: 1px solid #4B544B;
  color: #4B544B;
  cursor: pointer;
}

.buttonTransparent:hover {
  background-color: #eae8e8;
  border-color: #404740;
  color: #404740;
}

.buttonGreen {
  background-color: #4B544B;
  border: 1px solid #4B544B;
  color: #f4f4f4;
  cursor: pointer;
}

.buttonGreen:hover {
  background-color: #404740;
  border-color: #404740;
  color: #eae8e8;
}
