.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Inria Sans";
}

.text {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 45px;
  margin: 0;
}

.message {
  margin-top: 10px;
  width: 526px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.coffee {
  width: 230px;
  cursor: pointer;
  margin-bottom: 100px;
}

.coffee:hover {
  opacity: 85%;
}

@media (max-width: 480px) {}

@media (max-width: 768px) {}

@media (max-width: 1024px) {}

@media (max-width: 1440px) {
  .coffee {
    margin-bottom: 25px;
    width: 210px;
  }

}
