.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Inria Sans";
}

.text {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name {
  font-style: italic;
}

.name:hover {
  text-decoration: underline;
}

.title {
  font-size: 38px;
  margin: 0;
}

.message {
  margin-top: 20px;
  width: 536px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.container .tabAbout {
  opacity: 100%;
}

.container .tabAbout::after {
  width: 100%;
  left: 0;
}
